#####################################################################
# Octopus Pro 1.1 on VZBOT 235 2WD
#####################################################################

# This file contains common pin mappings for the BigTreeTech Octopus
# Pro v1.1 board.

# Important! Do not use this config with an Octopus Pro v1.0 board nor
# non-Pro board.

# To use this config, during "make menuconfig", select "Enable
# low-level configuration options", select the STM32H723
# micro-controller, select a "128KiB bootloader", and select a "25Mhz
# crystal".

#####################################################################
#   Printer & MCU
#####################################################################

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 30000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 10

[mcu]
serial: /dev/ttyAMA0

restart_method: command

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 3600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.


[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[board_pins] 
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[include mainsail.cfg]
[include macros.cfg]
#[include adxl.cfg]
[include KAMP_Settings.cfg]
[include nozzle_clean.cfg]
[include config_backup.cfg]
[include temperature_sensors.cfg]
[include nevermore.cfg]
[include neopixel.cfg]
#[include motor_database.cfg]
#[include heater_chamber.cfg]


[input_shaper]
shaper_freq_x: 79.2    # Recommended max accel 18500
shaper_freq_y: 91.6      # Recommended max accel 24700
shaper_type_x: mzv
shaper_type_y: mzv

#####################################################################
#   X Stepper Settings
#####################################################################

# Motor_0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 34
full_steps_per_rotation: 200
endstop_pin: PG6
position_endstop: 0
position_max: 228
homing_speed: 50

#[tmc2209 stepper_x]
#uart_pin: PC4
##diag_pin: PG6
#run_current: 1.25
#stealthchop_threshold: 0

[tmc2240 stepper_x]
cs_pin: PC4
#spi_bus: spi1
diag1_pin: PG6
interpolate: false
run_current: 1.3
hold_current: 1.3
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 4
#driver_HEND: 2
#driver_TPFD: 12


#####################################################################
#   Y Stepper Settings
#####################################################################

# Motor_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 34
full_steps_per_rotation: 200
endstop_pin: PG9
position_endstop: -38
position_min: -38
position_max: 228
homing_speed: 50

#[tmc2209 stepper_y]
#uart_pin: PD11
##diag_pin: PG9
#run_current: 1.25
#stealthchop_threshold: 0

[tmc2240 stepper_y]
cs_pin: PD11
#spi_bus: spi1
diag1_pin: PG9
interpolate: false
run_current: 1.3
hold_current: 1.3
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 4
#driver_HEND: 2
#driver_TPFD: 12

#####################################################################
#   Z Stepper Settings
#####################################################################

# Motor_2.1 and 2.2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 32
rotation_distance: 3.4
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
homing_speed: 5.0
position_max: 218
position_min: 0

#[tmc2209 stepper_z]
#uart_pin: PC6
##diag_pin: PG10
#run_current: 1.2
#stealthchop_threshold: 0

[tmc2240 stepper_z]
cs_pin: PC6
#spi_bus: spi1
diag1_pin: PG10
interpolate: true
run_current: 1
hold_current: 0.8
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 4
#driver_HEND: 2
#driver_TPFD: 12

#####################################################################
#   Extruder
#####################################################################

# Motor_3
[extruder]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 5.667    # <new_rotation_distance> = <previous_rotation_distance> * ( <actual_extrude_distance> / 100 )
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0 # HE0
sensor_pin:  PF4 # T0 port..Harness marked HT
sensor_type: ATC Semitec 104NT-4-R025H42G
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 115
max_extrude_cross_section: 5
pressure_advance: 0.005

#[tmc2209 extruder]
#uart_pin: PC7
##diag_pin: PG11
#run_current: 0.650
#stealthchop_threshold: 999999

[tmc2240 extruder]
cs_pin: PC7
#spi_bus: spi1
diag1_pin: PG11
interpolate: true
run_current: 0.7
hold_current: 0.5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
stealthchop_threshold: 0

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 50
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0.05
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 80
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#####################################################################
# MOTOR_4 UNUSED
#####################################################################

# Motor_4
#[stepper_]
#step_pin: PF9
#dir_pin: PF10
#enable_pin: !PG2
#endstop_pin: PG11
#...



#[tmc2209 stepper_]
#uart_pin: PF2
##diag_pin: PG12
#run_current: 0.7
#stealthchop_threshold: 0

#[tmc2240 stepper_]
#cs_pin: PF2
#spi_bus: spi1
#diag1_pin: PG12




#####################################################################
# MOTOR_5 UNUSED
#####################################################################

# Motor_5
#[extruder1]
#step_pin: PC13
#dir_pin: PF0
#enable_pin: !PF1
#heater_pin: PA3 # HE1
#sensor_pin: PF5 # T1
#...

#[tmc2209 extruder1]
#uart_pin: PE4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 extruder1]
#cs_pin: PE4
#spi_bus: spi1
#run_current: 0.800
#stealthchop_threshold: 999999

#####################################################################
# MOTOR_6 UNUSED
#####################################################################

# Motor_6
#[extruder2]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#heater_pin: PB0 # HE2
#sensor_pin: PF6 # T2
#...

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 extruder2]
#cs_pin: PE1
#spi_bus: spi1
#run_current: 0.800
#stealthchop_threshold: 999999

####################################################################
# MOTOR_7 UNUSED
####################################################################

# Motor_7
#[extruder3]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3
#...

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 extruder3]
#cs_pin: PD3
#spi_bus: spi1
#run_current: 0.800
#stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB port...Harness marked BT
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: -100
max_temp: 130

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[bed_mesh]
speed: 400
horizontal_move_z: 2
mesh_min: 7, 10
mesh_max: 203, 210
zero_reference_position: 108.5, 110.5
probe_count: 15, 15
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_A9E01BE04E5737374D202020FF10310F-if00
default_model_name: default #   Name of default beacon model to load.
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 30 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
contact_max_hotend_temperature: 235 # increase to probe at print temps
home_xy_position: 108.5, 100.5 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
# new autocalibration config options
#autocal_speed: 3
# Speed during contact movement. Probing outside of 2-5mm/s not recommended and at your own risk.
#autocal_accel: 100
# Acceleration of autocal movement.
#autocal_retract_dist: 2
# Retract distance between autocal samples.
#autocal_retract_speed: 10
# Speed of autocal retraction move.
#autocal_sample_count: 3
# Number of samples used for each autocal.
#autocal_tolerance: 0.008
# Acceptance tolerance for an autocal result.
#autocal_max_retries: 3
# Number of retry attempts permitted when tolerance is exceeded.

#[safe_z_home]
#home_xy_position: 112.5, 115.5 # Change coordinates to the center of your print bed
#z_hop: 1                 # Move up 1mm 
#z_hop_speed: 5

[screws_tilt_adjust]
screw1: 23, -2
screw1_name: Front left
screw2: 193, -2
screw2_name: Front right
screw3: 193, 168
screw3_name: Back right
screw4: 23, 168
screw4_name: Back left
screw_thread: CW-M4
horizontal_move_z: 2

#####################################################################
#   Sensors
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

#[temperature_sensor chamber]
#sensor_type: Trianglelab NTC100K B3950
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100

[temperature_sensor chamber_bottom]
sensor_type: Trianglelab NTC100K B3950
sensor_pin: PF6
min_temp: 0
max_temp: 100

[temperature_sensor PTC_heater_coil]
sensor_type: Trianglelab NTC100K B3950
sensor_pin: PF7
min_temp: 0
max_temp: 145


#[filament_switch_sensor material_0]
#switch_pin: PG12

#[filament_switch_sensor material_3]
#switch_pin: PG15

#[filament_switch_sensor material_1]
#switch_pin: PG13

#[filament_switch_sensor material_2]
#switch_pin: PG14

# Thermistor ports TB pin: PF3 T0 pin: PF4 T1 pin: PF5 T2 pin: PF6 T3 pin: PF7

#####################################################################
#   Fans 6 CNC controlled, two always on
#####################################################################

[fan]
pin: PA8 #FAN0...Harness marked PART FAN

[heater_fan heatbreak_fan]
pin: PE5 #FAN1....Harness marked HB
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


#[heater_fan fan2]
#pin: PD12 #FAN2

#[heater_fan fan3]
#pin: PD13 #FAN3

#[heater_fan fan4]
#pin: PD14 #FAN4

#[controller_fan fan5]
#pin: PD15 #FAN5

# FAN PORTS 6 AND 7 ALWAYS ON
# FAN7 Octopus case fans jumper set at 12v

#####################################################################
#   Servos
#####################################################################

[servo nozzle_brush]
pin: PB6 # BLTOUCH CONTROL PIN
#   PWM output pin controlling the servo. This parameter must be
#   provided.
maximum_servo_angle: 180
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
minimum_pulse_width: 0.0005
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
maximum_pulse_width: 0.0025
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.
initial_angle: 90
#   Initial angle (in degrees) to set the servo to. The default is to
#   not send any signal at startup.

#####################################################################
# BLTOUCH PORT
#####################################################################

#[bltouch]
#sensor_pin: PB7
#control_pin: PB6
#z_offset: 0

#####################################################################
#   Added for Orca Slicer
#####################################################################

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

#####################################################################
#     CLIENT VARIABLE
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 215   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 220   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.75   ; the value to retract while PAUSE
variable_cancel_retract   : 5   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 1.5   ; the value to unretract while RESUME
variable_speed_unretract  : 50.0  ; unretract speed in mm/s
variable_speed_hop        : 20.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 215   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 210   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : True  ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""   ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.572
#*# pid_ki = 1.303
#*# pid_kd = 66.164
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.134
#*# pid_ki = 1.286
#*# pid_kd = 1011.676
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.038062, -0.025020, -0.021087, -0.031202
#*# 	-0.023646, -0.010806, -0.008436, -0.019872
#*# 	-0.007362, 0.004269, 0.006665, -0.003700
#*# 	0.009079, 0.016614, 0.018426, 0.008662
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 90.0
#*# max_x = 130.0
#*# min_y = 90.0
#*# max_y = 130.0
#*#
#*# [beacon model default]
#*# model_coef = 1.3926322338602408,
#*# 	1.6915901122945556,
#*# 	0.7378328203342852,
#*# 	0.38081911962717785,
#*# 	0.41273844460524106,
#*# 	0.4344071741019059,
#*# 	-0.2135005348513326,
#*# 	-0.40342258531998165,
#*# 	0.27003956231063,
#*# 	0.2990521886943067
#*# model_domain = 3.0933922305740943e-07,3.327919096089271e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 61.246962
#*# model_offset = 0.00000
