#####################################################################
#     PRINT START
#####################################################################

[gcode_macro PRINT_START]
gcode:
    # This part fetches data from your slicer. Such as bed, extruder, and chamber temps
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {% set CHAMBER_TEMP = params.CHAMBER_TEMP|default("40")|int %}
    
    #turn on case light
    CASELIGHT_ON
    # Clear bed mesh
    BED_MESH_CLEAR
    # Reset Z-offset
    SET_GCODE_OFFSET Z=0
    # Start bed heating (but don't wait for it)
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Move nozzle up a little
    G1 Z10 F3000
    #Switch caselight to show preheat
    CASELIGHT_HEATING
    # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED_TEMP|int > 90 %}
    SET_FAN_SPEED FAN=Nevermore SPEED=1               # Turn on the nevermore
    M140 S{BED_TEMP}                                  # Set the target temp for the bed
    G1 Z20                                            # Move bed down
    #SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET={CHAMBER_TEMP|default(0)}
    TEMPERATURE_WAIT SENSOR="heater_generic heater_chamber" MINIMUM={CHAMBER_TEMP} # waits on chamber temp
    G4 P300000             # Wait 5 minutes to heat soak, 1 minute = 60000 milliseconds

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 1 min soak
  {% else %}
    M190 S{BED_TEMP}                                  # Set the target temp for the bed
    G4 P60000                                           # Wait 1 min for the bedtemp to stabilize
  {% endif %}

    # Park to right of nozzle brush and wait for extruder temp
    G1 X35 Y-25 Z24
    # Preheat to nozzle to probing temp
    M109 S175
    # Clean nozzle before beacon contact
    CLEAN_NOZZLE
    # Move to Beacon auto calibrate position
    G1 X108.5 Y100.5 Z5
    # Auto-calibrate beacon offset
    BEACON_AUTO_CALIBRATE
    # KAMP adaptive bed mesh
    BED_MESH_CALIBRATE
    # Apply initial z-offset
    SET_GCODE_OFFSET Z=0.07
    # Move nozzle for second nozzle clean
    G1 X35 Y-25 Z24
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Clean nozzle before print start
    CLEAN_NOZZLE
    # Turn caselight back onto regular mode
    CASELIGHT_ON
    # KAMP adaptive purge
    LINE_PURGE

    
    
#####################################################################
#     PRINT END
#####################################################################

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 15) %}
        {% set x_safe = 10.0 %}
    {% else %}
        {% set x_safe = -10.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 15) %}
        {% set y_safe = 10.0 %}
    {% else %}
        {% set y_safe = -10.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 50.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    # wait for buffer to clear
    M400 
    # Turn off Chamber heater
    SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET=0
    # Switch caselight to finished mode
    CASELIGHT_FINISHED
    # zero the extruder
    G92 E0
    # relative positioning
    G91
    # retract
    G1 E-5 F300 
    # move nozzle up
    G0 Z{z_safe} + Z10 F3600 
    # move nozzle to safe X and Y
    G0 X{x_safe} Y{y_safe} F20000
    # turn off hotend
    M104 S0
    # turn off bed
    M140 S0
    # turn off fan
    M106 S0
    # absolute positioning
    G90
    # park nozzle at rear
    G0 X{max_x / 2} Y{max_y - 5} F3600 
    # Turn off motors
    M84 
    # Keep Nevermore on for longer 
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=180  
    
#####################################################################
#     CHANGE FILAMENT
#####################################################################

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  75
variable_purge_distance:  15
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  75
variable_purge_distance:  5
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_distance} F{speed} # purge
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

#####################################################################
#     NOZZLE BRUSH
#####################################################################

[gcode_macro PARK_BRUSH]
gcode:
    SET_SERVO SERVO=nozzle_brush ANGLE=90
    G4 P1000
    #SET_SERVO SERVO=nozzle_brush WIDTH=0

[gcode_macro RAISE_BRUSH]
gcode:
    SET_SERVO SERVO=nozzle_brush ANGLE=0
    G4 P2000
    #SET_SERVO SERVO=nozzle_brush WIDTH=0


#####################################################################
#     LINE PURGE
#####################################################################

[gcode_macro LINE_PURGE]

variable_adaptive_enable: True                # Enable adaptive purge placement
variable_z_height: 0.3                        # Purge line height
variable_purge_amount: 20                     # Amount of filament extruded (mm)
variable_line_length: 15                      # Length of purge line (mm)
variable_flow_rate: 14                        # Flow rate (mm^3/s)
variable_x_default: 2                         # Default X position for purge
variable_y_default: 2                         # Default Y position for purge
variable_distance_to_object_y: 10             # Distance from the nearest print object (Y-axis)
variable_x_margin: 2                          # Minimum distance from the left/right edges
variable_y_margin: 2                          # Minimum distance from the front edge

gcode:
    {% if adaptive_enable == True %}
        {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
        {% set x_origin = (all_points | map(attribute=0) | min | default(x_default)) %}
        {% set y_origin = (all_points | map(attribute=1) | min | default(y_default)) %}
        {% set x_origin = ([x_origin, x_margin] | max) %}
        {% set y_purge = ([y_origin - distance_to_object_y, y_margin] | max) %}
    {% else %}
        {% set x_origin = ([x_default, x_margin] | max) %}
        {% set y_origin = ([y_default, y_margin] | max) %}
        {% set y_purge = y_origin %}
    {% endif %}
    
    {% set nozzle_dia = printer.configfile.config.extruder.nozzle_diameter | float %}
    {% set cross_section = nozzle_dia * z_height | float %}
    {% set purge_move_speed = (cross_section * flow_rate) * 60 | float %}
    {% set travel_speed = (printer.toolhead.max_velocity | default(150)) * 60 | float %}

    G92 E0                                        # Reset extruder position
    G0 F{travel_speed}                            # Set travel speed
    G90                                           # Use absolute positioning
    G0 X{x_origin} Y{y_purge} Z{z_height}         # Move to purge start
    M83                                           # Use relative extrusion
    G1 X{x_origin + line_length} E{purge_amount} F{purge_move_speed}  # Extrude purge line
    G1 E-0.2 F2100                                # Retract slightly
    G92 E0                                        # Reset extruder position
    M82                                           # Use absolute extrusion
    G0 Z{z_height * 2} F{travel_speed}            # Perform Z hop    

[gcode_macro SCREWS_TILT_CALCULATE]
gcode:
SCREWS_TILT_CALCULATE